<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <meta jname='viewport', content='width=device-width, initial-scale=1'>
    </head>
    <body>
        <form action="login_page" method='post'>
            
            <h1>Sign Up</h1>
        </br>
            <label class="ex">User Name :</label></br>
			<input type="text" name="User Name" placeholder="Inter Your User Name"></br>
            
        </br>
            <label class="ex">Email :</label></br>
			<input type="text" name="Email" placeholder="Inter Your Email"></br>
        </br><button>
                <span><a href="/">Submit</a></span>
            </button>
        </form>

    </body>

</html>