<!DOCTYPE html>
<html>
<head>
	<title>sign up</title>
	<meta charset="utf-8">
</head>
<body>
	<div class="signup">
		<form>
			<h1>Sign Up</h1>
			<label class="ex">First Name :</label></br>
			<input type="text" name="firstname" placeholder="first name"></br>
			<label class="ex">Last Name :</label></br>
			<input type="text" name="lastname" placeholder="last name"></br>
			<label class="ex">User Name :</label></br>
			<input type="text" name="username" placeholder="user name"></br>
			<label class="ex">Phone Number :</label></br>
			<input type="text" name="phone" placeholder="phone number"></br>
			<label class="ex">Email Address :</label></br>
			<input type="email" name="email" placeholder="Email Address"></br>
			Gender :</br>
			<input type="radio" name="gender">
			<label class="dc">Male</label>
			<input type="radio" name="gender">
			<label class="dc1" >Female</label>
			<input type="radio" name="gender">
			<label class="dc1" >Other</label></br>

			<label class="ex">Photo :</label></br>
			<input type="file" name="photo" ></br>
		</br><button type="submit">
					<span><a href="login/page">Register</a></span>
				</button>
		</form>
		
	</div>

</body>
</html>